---
import Base from "../layouts/Base.astro";
import Centered from "../components/Centered.astro";
---

<Base title="A or B - Countdown Timer">
    <main class="w-full h-full">
        <Centered vertical={true} horizontal={true}>
            <div>
                <h3 class="text-7xl p-4 bg-black text-white font-digital flex gap-4 rounded-sm">
                    <span>13</span>
                    <span>:</span>
                    <span>34</span>
                </h3>
            </div>
        </Centered>
    </main>
</Base>