---
interface Props {
    horizontal: boolean;
    vertical: boolean
}
const {
    horizontal = true,
    vertical = true,
} = Astro.props
---

<div class:list={["w-full h-full flex", horizontal ? 'justify-center' : '', vertical ? 'items-center' : '']}>
    <slot />
</div>